.Scroller {
    background: lightyellow;
    position: relative;
}

.Scroller__content {
    max-width: 500px;
    margin: 0 auto;
}

.Scroller__close {
    position: absolute;
    right: 20px;
    top: 20px;
}